@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
mat-spinner {
  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: var(--mat-sys-on-primary),
    )
  );
}

.full-spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}

.loading-text {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
}
